@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

body {
  margin: 0;
  background-color: rgb(31, 31, 35);
}

.mytitle {
  width: 100%;
  height: 200px;

  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: 350px;
  margin: 1rem;
  position: relative;
  border-radius: 5px;
}

.card-text {
  overflow: auto;
  height: 100px;
}

.card-body {
  height: 200px;
  padding: 0.5rem 1rem;
}

.card-body p.green {
  color: green;
}

.card-body p.orange {
  color: orange;
}

.card-body p.red {
  color: red;
}

.card-img-top {
  width: 100%;
}

.card-title {
  padding-bottom: 0px;
}

.title {
  font-size: 4rem;
  font-family: 'Cherry Bomb One', cursive;
  color: tomato;
}

.input-group {
  display: flex;
  margin-top: 15px;
  margin-right: 100px;
  width: 95%;
  max-width: 100%;
  display: inline-block;
}

#search-box {
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  float: right;
}

#search-box::placeholder {
  color: rgb(255, 255, 255);
}

.search-btn {
  font-size: 1.4rem;
  font-family: 'Cherry Bomb One', cursive;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-bottom: 5px;
  background-color: black;
  color: tomato;
  border: none;
  float: right;
}

.search-btn:hover {
  box-shadow: 0 80px 0 0 rgba(255, 255, 255, 0.25) inset,
    0 -80px 0 0 rgba(255, 255, 255, 0.25) inset;
}
