/* 구글폰트 사용 */
@import url("https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

/* body의 전체적인 색 지정 */
body {
  margin: 0;
  background-color: rgb(31, 31, 35);
}

/* 헤더에 있는 타이틀 폰트적용 & 사이즈, 색지정 */
.title {
  font-size: 4rem;
  font-family: "Cherry Bomb One", cursive;
  color: tomato;
}

/* 카테고리, 검색창, 버튼이 들어있는 부모div */
.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
}

/* 검색창 크기, 여백, 폰트, 글자 색상, 글자 위치 조정*/
#search-box {
  font-family: "Cherry Bomb One", cursive;
  padding: 13.25px 0px 13.25px 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: transparent;
  border: 0.1px solid rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  width: 70%;
  background-color: black;
}

/* 검색기능에 placeholder 위치 사이즈, 색상 조정 */
#search-box::placeholder {
  color: rgb(255, 255, 255);
  padding-left: 10px;
  position: absolute; /* 절대적인 위치 설정 */
  top: 50%; /* 부모 요소의 중앙에 위치 */
  transform: translateY(-50%); /* 수직으로 가운데로 이동 */
  width: 100%; /* 너비 설정 */
  text-align: center; /* 가운데 정렬 */
  font-size: 1rem;
}

/* 검색창과 검색버튼이 들어있는 상위 div 크기, 여백, 위치조정 */
.searchBbtn {
  height: 70px;
  width: 400px;
  display: flex;
  align-items: center;
  margin-right: 4%;

  margin: 15px 1% 15px auto;
}

/* 버튼 폰트, 글씨 크기, 테두리 둥글게, 글씨 컬러 조정 */
.search-btn {
  font-size: 1.4rem;
  font-family: "Cherry Bomb One", cursive;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: transparent;
  color: tomato;
  border: none;
  align-items: center; /* 세로 가운데 정렬 */
  width: 30%;
  padding: 15.5px 0px 15px 0px;
  border: 0.1px solid rgb(0, 0, 0);
  background-color: black;
}

.search-btn p {
  margin: 0; /* 기본 마진 제거 */
}

/* 검색 버튼에 마우스를 올리게되면 그림자 발생 */
.search-btn:hover {
  box-shadow: 0 80px 0 0 rgba(255, 255, 255, 0.25) inset,
    0 -80px 0 0 rgba(255, 255, 255, 0.25) inset;
}

/* 카테고리 폰트, 사이즈, 위치, 여백, 정렬 조정 */
nav {
  font-family: "Cherry Bomb One", cursive;
  font-size: 2rem;
  display: flex;
  margin-left: 4%;
}

nav .category {
  margin: 3rem;
  color: tomato;
}

nav .Carrot-title {
  margin: 1rem;
  color: rgb(191, 51, 23);
}
/* 서브페이지 영화 이미지, 댓글작성 */
.movie-header {
  background-color: transparent;
  height: 48rem;
  background-position: center;
  background-size: cover;
}

.footer {
  margin-top: 50px;
  height: 200px;
  width: 100%;
  background-color: rgb(43, 42, 42);
  display: flex;
}

.footer img {
  height: 60px;
  margin-left: auto;
  margin-top: 4rem;
  background-color: white;
  border-radius: 30px;
}

.footer button {
  text-align: center;
  margin-top: 6rem;
  margin-right: auto;
  width: 160px;
  height: 30px;
  border-radius: 30px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  background-color: gray;
}

.footer button:hover {
  box-shadow: 0 200px 0 0 rgba(57, 55, 55, 0.25) inset,
    0 200px 0 0 rgba(57, 55, 55, 0.25) inset;
}

.movie-box {
  background-color: transparent;
  margin-top: 30px;
  height: 500px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.movie-box .movie-boxin {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  display: flex;
}

.movie-box .movie-boxin .movie-img {
  width: 350px;
  height: 500px;
  margin-left: auto;
}
.movie-box .movie-boxin .movie-img img {
  width: 100%;
  border-radius: 10px;
  border: 0.1px solid rgb(92, 90, 90);
}

.movie-box .movie-boxin .title-comment {
  background-color: transparent;
  width: 700px;
  margin-right: auto;
  text-align: center;
}

.movie-box .movie-boxin .title-comment .movie-title {
  background-color: transparent;
  color: white;
  margin-top: 16px;
  font-size: 17px;
  width: 600px;
  height: 120px;
  margin-top: 15%;
  margin-left: 50px;
  font-family: "Jua", sans-serif;
}
/* 평점조건마다 색입히기 */
.movie-rate {
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 10px;
  display: flex;
}

.movie-rate p.green {
  color: green;
}

.movie-rate p.orange {
  color: orange;
}

.movie-rate p.red {
  color: red;
}
.movie-box .movie-boxin .title-comment .comment-postbtn {
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-right: 50%;
  margin-left: 35%;
  border-radius: 30px;
  border: 1px solid rgb(3, 3, 3);
  font-size: 30px;
  font-family: "Cherry Bomb One", cursive;
  background-color: tomato;
  color: white;
}
.comment-postbtn:hover {
  box-shadow: 0 200px 0 0 rgba(57, 55, 55, 0.25) inset,
    0 200px 0 0 rgba(57, 55, 55, 0.25) inset;
}

.reviewBox {
  background-color: gray;
  width: 300px;
  height: 900px;
  border-radius: 10px;
  padding: 20px;
  margin: 1rem;
  margin-left: 135px;
  margin-right: 50%;
  position: absolute;
}

.userIpt {
  font-family: "Cherry Bomb One", cursive;
  width: 100%;
  height: 40px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.psWordIpt {
  font-family: "Cherry Bomb One", cursive;
  width: 100%;
  height: 40px;
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.commentIpt {
  font-family: "Cherry Bomb One", cursive;
  width: 100%;
  height: 300px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 30px;
}

.postBtn {
  font-family: "Cherry Bomb One", cursive;
  width: 150px;
  height: 40px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: tomato;
  border: 2px solid var(--primay-color);
  border-radius: 10px;
  color: white;
  font-size: 25px;
}

.postBtn:hover {
  box-shadow: 0 80px 0 0 rgba(255, 255, 255, 0.25) inset,
    0 -80px 0 0 rgba(255, 255, 255, 0.25) inset;
}

.details {
  background-color: rgb(63, 63, 63);
  color: white;
  width: 63%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 50px;
}

.details h2 {
  font-family: "Jua", sans-serif;
  font-size: 30px;
  color: black;
}

.details p {
  font-family: "Jua", sans-serif;
  font-size: 25px;
}

.review-list-box {
  background-color: rgb(61, 61, 61);
  width: 70%;
  height: 800px;
  margin: auto;
  border-radius: 10px;
  overflow: auto;
}

.reviewsTitle {
  font-family: "Jua", sans-serif;
  color: black;
  margin-left: 20px;
  font-size: 30px;
}

.review-card {
  font-family: "Jua", sans-serif;
  background-color: rgb(78, 78, 78);
  color: white;
  width: 90%;
  height: 200px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 20px 20px 20px;
}

.review-card .review-card-body .name-header {
  font-size: 28px;
}

.review-card .review-card-body p {
  font-size: 25px;
}

.movie-details {
  height: 100%;
}

#modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
  height: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
